<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Detail Lesson</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Community-ChatComments.css">
    <link rel="stylesheet" href="assets/css/Data-Table-1.css">
    <link rel="stylesheet" href="assets/css/Data-Table.css">
    <link rel="stylesheet" href="assets/css/Drag-and-Drop-File-Input.css">
    <link rel="stylesheet" href="assets/css/File-Input---Beautiful-Input--Button-Approach-Jasny-Bootstrap.css">
    <link rel="stylesheet" href="assets/css/Forum---Thread-listing-1.css">
    <link rel="stylesheet" href="assets/css/Forum---Thread-listing.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/List-item.css">
    <link rel="stylesheet" href="assets/css/Table-With-Search-1.css">
    <link rel="stylesheet" href="assets/css/Table-With-Search.css">
</head>

<body>
    <div class="col-md-12 search-table-col" style="margin-top: 10px;">
        <div class="form-group pull-right col-lg-4"><input type="text" class="search form-control"
                placeholder="Search by typing here.."></div><span class="counter pull-right"></span>
        <div class="table-responsive table-bordered table table-hover table-bordered results">
            <table class="table table-bordered table-hover">
                <thead class="bill-header cs">
                    <tr>
                        <th id="trs-hd" class="col-lg-3">Topic</th>
                        <th id="trs-hd" class="col-lg-7">Content</th>
                        <th id="trs-hd" class="col-lg-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each topic}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>{{this.content}}</td>
                        <td><a class="btn btn-danger" role="button"
                                style="margin-left: 5px;background-color: rgb(98,155,241); padding-left: 25px; padding-right: 25px; margin-top: 5px; margin-bottom: 5px"
                                href="lesson_detail.html">DETAIL</a>
                            <button class="btn btn-danger"
                                style="margin-left: 5px; padding-left: 25px; padding-right: 25px; margin-top: 5px; margin-bottom: 5px"
                                type="button">DELETE</button>
                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
    </div>
    <h1 style="margin-left: 15px;">Quiz</h1>
    <div class="col-md-12 search-table-col" style="margin-top: 10px;">
        <div class="form-group pull-right col-lg-4"><input type="text" class="search form-control"
                placeholder="Search by typing here.."></div><span class="counter pull-right"></span>
        <div class="table-responsive table-bordered table table-hover table-bordered results">
            <table class="table table-bordered table-hover">
                <thead class="bill-header cs">
                    <tr>
                        <th id="trs-hd" class="col-lg-7">Question</th>
                        <th id="trs-hd" class="col-lg-5">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each quiz}}
                    <tr>
                        <td>
                            <h5><br>Question {{this.STT}}:&nbsp;{{this.question}}<br></h5>
                            <h6><br>A: {{this.answerA}}<br></h6>
                            <h6><br>B: {{this.answerB}}<br></h6>
                            <h6><br>C: {{this.answerC}}<br></h6>
                            <h6><br>D: {{this.answerD}}<br></h6>
                            <h6 style="color: rgb(42, 218, 57); font-weight: 600;"><br>Correct Answer:
                                {{this.correctAnswer}}<br></h6>

                        </td>
                        <td>
                            <div style="justify-content: center;display: flex; flex-wrap: wrap;">

                                <button class="btn btn-primary"
                                    style="margin-left: 5px; padding-left: 25px; padding-right: 25px; margin-top: 5px; margin-bottom: 5px; color: aliceblue;background-color: rgb(98,155,241);"
                                    type="button">UPDATE</button>
                                <div style="justify-content: center;display: flex; flex-wrap: wrap;">
                                    <a class="btn btn-danger" role="button"
                                        style="margin-left: 5px;background-color: rgb(243, 213, 44); padding-left: 25px; padding-right: 25px; margin-top: 5px; margin-bottom: 5px"
                                        href="discussion">CHAT</a>
                                    <button class="btn btn-danger"
                                        style="margin-left: 5px; padding-left: 25px; padding-right: 25px; margin-top: 5px; margin-bottom: 5px"
                                        type="button">DELETE</button>
                                </div>
                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="assets/js/Drag-and-Drop-File-Input.js"></script>
    <script src="assets/js/File-Input---Beautiful-Input--Button-Approach-Jasny-Bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/Table-With-Search.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>